/* Mobile landscape */
@media(max-width: 768px){

    #page-wrapper {
        position: inherit;
    }

    .navbar-fixed-top .container{
        padding-left: 0px !important;
    }

    .navbar-fixed-top .container .dropdown-user {
        margin-left: -155px;
        z-index: 1000;
        position: absolute !important;
    }

    .navbar-fixed-top .container .navbar-brand {
        padding-left: 0px !important;
        margin-left: 30px;
    }

    .navbar-fixed-top .container .navbar-collapse {
        margin: 0 -45px 0 -30px !important;
    }

    .navbar-fixed-top .container .navbar-collapse .navbar-nav li a {
        padding-left: 45px !important;
    }

    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .navbar-nav li a {
        padding-left: 30px
    }

    .navbar-nav li a:hover {
        background-color: #000 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-nav .open .dropdown-menu {
        padding-top: 0px !important;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 35px;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle
    }

    .dropdown-submenu > a:after {
        margin-right: 30px !important;
        margin-top: 12px !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .dropdown-header {
        color: #AAB2C1;
        padding-left: 30px
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .divider {
        background-color: #888;
    }

    .navbar-nav.navbar-right {
        position: absolute;
        top: 0;
        right: 105px;
        height: 35px;
        border: 0;
    }

    .navbar-nav.navbar-right:last-child {
        background-color: rgba(0, 0, 0, 0.7);
        margin-right: -15px !important;
        float: right;
        line-height: 35px;
    }

    .dropdown-user {
        background-color: rgba(0, 0, 0, 0.9) !important;
        margin-left: -150px;
    }

    .dropdown-user > li > a:hover {
        background-color: #444 !important;
    }

    .navbar-right span.user-info, 
    .navbar-right .fa-caret-down {
        display: none !important;
    }

    .navbar-right a img {
        margin-left: -19px !important;
    }

    .navbar-right {
        background-color: transparent !important;
    }

    .navbar-default .navbar-nav > .open > a, 
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > li > a:hover, 
    .navbar-default .navbar-nav > li > a:focus {
        background-color: #000  !important;
    }

    .navbar-nav.navbar-right > .open > a,
    .navbar-nav.navbar-right > .open > a:hover,
    .navbar-nav.navbar-right > .open > a:focus,
    .navbar-nav.navbar-right > li > a:hover,
    .navbar-nav.navbar-right > li > a:focus {
        background-color: transparent !important;
    }

    .navbar-default .navbar-collapse, 
    .navbar-default .navbar-form {
        border-color: #444;
    }
}

/* Mobile portrait */
@media(max-width: 480px){
    
}

/* Tablet and large desktops */
@media(min-width: 768px) and (max-width: 991px) {
    
}

/* Large desktops */
@media(min-width: 1170px) {
    
}

/* Global and override Styles */
body, html {
    background-color: #f5f5f5;
    color: #333;
}

.bootbox .modal-body {
    padding: 15px 15px 0 15px; 
}

.bootbox .modal-footer {
    padding-top: 0;
}

.bootbox .bootbox-close-button {
    margin-top: -2px !important;
    margin-right: 3px
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.bottom-group-buttons button,
.bottom-group-buttons input {
    margin-right: 15px;
}

.loading-layer {
    display: none;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity: .6;
    z-index: 10000 !important;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
    
.loading-box {
    display: none;
    position: fixed;
    padding: 10px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    color: #fff;
    top: 50%; 
    left: 50%;
    margin-top: -70px;
    margin-left: -100px; 
    background-color: #000; 
    z-index: 10001 !important;
    opacity: 0%;
    width: 200px;
    cursor: default;
    box-shadow: 0px 0px 50px rgb(000,000,000);
    -moz-box-shadow:0 0 3px 50px #000;
    -webkit-box-shadow: 0 0px 50px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-top: 4px;
}

.loading-box h4 {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.module-header {
    background-color: #fcf1e8;
    padding: 30px;
    margin:  0;
    border-bottom: 1px solid #ddd
}

.module-body {
    padding: 30px !important;
    margin: 0;
}

.module-header h1,
.module-header h2 {
    margin: 0;
}

.module-header h1 small {
    color: #ddd;
}

.module-header img {
    max-width: 64px
}

.module-header .btn-group {
    margin-top: 10px !important
}

.module-header .pull-right {
    margin-top: 5px;
}

.dataTables_wrapper .table {
    margin: 30px 0 !important;
}

.table-bordered , 
.table-bordered td, 
.table-bordered th {
    border-left: 0 !important;
    border-right: 0 !important;
}

.table-bordered {
    border-top-width: 2px;
}

.inline {
    display: inline-block !important;
}

.top {
    vertical-align: top !important;
}

.panel, .list-group, .well {
    border-top: 1px solid #e8e8e8;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#page-wrapper {
    margin: 30px 0;
    min-height: 100% !important;
}

/* Text styles */
.text-success {
    color: #8CC152;
}

.navbar-fixed-top {
    padding: 0 30px !important;
}

.container .navbar-brand {
    padding-left: 15px
}

.icon-invisible {
    visibility: hidden;
}

.navbar-nav > li > a {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 35px;
}

.navbar-nav li a i {
    font-size: 18px;
}

.navbar-collapse .navbar-nav,
.navbar-collapse .navbar-nav .dropdown-menu li a {
    font-size: 14px;
    line-height: 35px;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
}

.navbar-brand {
    min-height: 35px;
    height: 35px;
    padding: 0;
    margin: 0 30px 0 0;
    line-height: 35px;
    vertical-align: middle;
}

.navbar-brand img {
    margin-top: -5px;
    max-height: 20px;
}

.navbar-brand a {
    color: #fff;
}

.navbar {
    min-height: 35px;
    height : 35px;
}

.navbar-fixed-top .navbar-collapse {
    margin: 0 -45px 0 -30px !important;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.79);
}

.navbar-default .navbar-toggle {
    background-color: #000;
    border-color: transparent;
    margin: 4px 0px 0;
    border: none;
    padding: 6px 7px;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #000;
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 15px;
    height: 2px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #000;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #000;
}

.navbar-default .navbar-text, 
.navbar-default .navbar-nav > li > a {
    color: #fff;
} 

.navbar-right {
    position: absolute;
    right: 30px;
    z-index: 1000;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 30px;
}

.navbar-right span.user-info {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    position: relative;
    left:10px;
    top: 2px;
    margin-right:15px;
    line-height:14px;
}

.navbar-right img.user-photo {
    line-height: 35px;
    padding: 0;
    margin-top: 4px;
    vertical-align: top;
    max-width: 25px;
    border: 2px solid #fff;
}

.dropdown-user > li > a {
    line-height: 35px;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9);
}

.dropdown-menu .divider {
    background-color: #444;
}

.dropdown-menu li a {
    padding-left: 15px;
}

.dropdown-menu > li > a:hover {
    background-color: #444;
}

.navbar-nav > li > a > img {
    margin-top: -2px;
    max-width: 16px;
}

.dropdown-menu li a img {
    margin-top: -2px;
    max-width: 16px;
}

/* Submenu stuffs */
.dropdown-submenu {
    position:relative;
}

.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-5px;
    margin-left:0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.dropdown-submenu .dropdown-menu {
    display: none !important;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block !important;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; 
    border-width: 4px 0 4px 4px;
    border-left-color: #fff;
    margin-top: 14px;
    margin-right: -10px; 
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left { 
    float: none; 
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.padding-left-ten-px { padding-left: 10px; }

/* Navigation */
/* Top Right Navigation Dropdown Styles */
.navbar-default {
    border-bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 40px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */
.sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 210px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Flot Chart Containers */
.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Toggle checkbox */
.toggle {
    height: 24px;
    cursor: pointer;
}

.toggle .handle{
    width: 40px;
    height: 24px;
    background-color: #ed5565;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.toggle .handle:after,
.toggle .handle:before {
    width:22px;
    height:22px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.toggle input[type=checkbox]:disabled+.handle,
.toggle input[type=checkbox]:disabled+.handle:after,
.toggle input[type=checkbox]:disabled+.handle:before,
.toggle input[type=radio]:disabled+.handle,
.toggle input[type=radio]:disabled+.handle:after,
.toggle input[type=radio]:disabled+.handle:before {
    -webkit-box-shadow:inset 0 0 0 1px #b8bfc8;
    -moz-box-shadow:inset 0 0 0 1px #b8bfc8;
    box-shadow:inset 0 0 0 1px #b8bfc8;
    background-color:#e6e9ed;
    filter:alpha(opacity=60);
    opacity:.6
}

.toggle input[type=checkbox]:checked+.handle:before,
.toggle input[type=radio]:checked+.handle:before { 
    width: 40px;
    background-color: #a0d468;
    -webkit-box-shadow: 0 0 0 1px #a0d468;
    -moz-box-shadow: 0 0 0 1px #a0d468;
    box-shadow: 0 0 0 1px #a0d468;
}

.toggle input[type=checkbox]:checked+.handle:after,
.toggle input[type=radio]:checked+.handle:after {
    left: 19px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

/* DataTables Overrides */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

/* Open Sans @font-face kit */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/Regular/OpenSans-Regular.eot');
  src: url('../fonts/opensans/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/Regular/OpenSans-Regular.woff') format('woff'),
       url('../fonts/opensans/Regular/OpenSans-Regular.ttf') format('truetype'),
       url('../fonts/opensans/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/Italic/OpenSans-Italic.eot');
  src: url('../fonts/opensans/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/Italic/OpenSans-Italic.woff') format('woff'),
       url('../fonts/opensans/Italic/OpenSans-Italic.ttf') format('truetype'),
       url('../fonts/opensans/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* END Italic */

/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/Semibold/OpenSans-Semibold.eot');
  src: url('../fonts/opensans/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/Semibold/OpenSans-Semibold.woff') format('woff'),
       url('../fonts/opensans/Semibold/OpenSans-Semibold.ttf') format('truetype'),
       url('../fonts/opensans/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */

/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('../fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'),
       url('../fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'),
       url('../fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/Bold/OpenSans-Bold.eot');
  src: url('../fonts/opensans/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/Bold/OpenSans-Bold.woff') format('woff'),
       url('../fonts/opensans/Bold/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/opensans/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('../fonts/opensans/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
       url('../fonts/opensans/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/opensans/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
