/* Global Styles */

/* ------------------------------- */
body, html { 
    height: 100%;
    min-height: 100%;
    background-color: #f8f8f8;
    position:relative;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.bottom-group-buttons button,
.bottom-group-buttons input {
    margin-right: 15px;
}

.loading-layer {
    display: none;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity: .6;
    z-index: 10000 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
    
.loading-box {
    display: none;
    position: absolute;
    padding: 10px;
    text-align: center;
    color: #fff;
    top: 50%; 
    left: 50%;
    margin-top: -70px;
    margin-left: -100px; 
    background-color: #000; 
    z-index: 10001 !important;
    opacity: 0%;
    width: 200px;
    cursor: default;
    box-shadow: 0px 0px 50px rgb(000,000,000);
    -moz-box-shadow:0 0 3px 50px #000;
    -webkit-box-shadow: 0 0px 50px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-top: 4px;
}

.form-group {
  margin-bottom: 30px;
}

.module-header h1 {
    margin: 0 0 30px;
}

.inline {
    display: inline-block !important;
}

.top {
    vertical-align: top !important;
}

/* Wrappers */

/* ------------------------------- */

#wrapper {
    width: 100%;
    height: 100%;
}

#page-wrapper {
    padding: 15px;
    min-height:100% !important;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 210px;
        padding: 30px;
        _min-height: 1300px;
    }
}

.icon-invisible {
    visibility: hidden;
}

.navbar-static-top {
    background-color:#434a54 !important ;
}

.navbar-top-links > li > a {
    color:#fff;
}

.navbar-top-links > li.dropdown a:hover,
.navbar-top-links > li.dropdown a:focus,
.navbar-top-links > li.open > a, 
.navbar-top-links > li.open a:hover, 
.navbar-top-links > li.open a:focus {
    background-color:#656D78;
}

.navbar-static-side {
    
    
    background-color: #f8f8f8;
    margin-top: -50px;
    padding-top: 50px;
}

.navbar-static-side ul > li > a {
    color: #434a54;
    min-height:50px;
    padding:15px;
    background-color:#f8f8f8;
    border-bottom:1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}

.navbar-static-side ul > li > a:hover {
    background-color:#656D78;
    color:#fff;
    border-bottom:1px solid #656D78;
    border-right:1px solid #656D78;
}

.navbar-static-side ul > li.active > a,
.navbar-static-side ul > li.active > a:hover {
    background-color:#656D78;
    color:#fff;
    border-bottom:1px solid #656D78;
    border-right:1px solid #656D78;
}

.navbar-static-side ul > li.active {
    border-bottom: 1px solid #656D78;
}

.navbar-top-links span.user-info {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    position: relative;
    left:10px;
    top:-3px;
    margin-right:15px;
    line-height:16px;
}

.navbar-top-links img.user-photo {
    max-width:35px;
    margin-top:-3px;
    border:2px solid #fff;
}

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu > .dropdown-menu {
    top:0;
    right:100%;
    margin-top:-6px;
    margin-right:-5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display:block;
}

.dropdown-submenu > a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 5px 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:6px 0 6px 6px;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */
.navbar-default {
    background-color:#f8f8f8;
    border-bottom:0;
    /*border-bottom: 1px solid #434A54 !important;*/
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

.sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 210px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

/* Open Sans @font-face kit */

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/Light/OpenSans-Light.eot');
  src: url('../fonts/opensans/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/Light/OpenSans-Light.woff') format('woff'),
       url('../fonts/opensans/Light/OpenSans-Light.ttf') format('truetype'),
       url('../fonts/opensans/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */

/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/LightItalic/OpenSans-LightItalic.eot');
  src: url('../fonts/opensans/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/LightItalic/OpenSans-LightItalic.woff') format('woff'),
       url('../fonts/opensans/LightItalic/OpenSans-LightItalic.ttf') format('truetype'),
       url('../fonts/opensans/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */

/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/Regular/OpenSans-Regular.eot');
  src: url('../fonts/opensans/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/Regular/OpenSans-Regular.woff') format('woff'),
       url('../fonts/opensans/Regular/OpenSans-Regular.ttf') format('truetype'),
       url('../fonts/opensans/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/Italic/OpenSans-Italic.eot');
  src: url('../fonts/opensans/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/Italic/OpenSans-Italic.woff') format('woff'),
       url('../fonts/opensans/Italic/OpenSans-Italic.ttf') format('truetype'),
       url('../fonts/opensans/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* END Italic */

/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/Semibold/OpenSans-Semibold.eot');
  src: url('../fonts/opensans/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/Semibold/OpenSans-Semibold.woff') format('woff'),
       url('../fonts/opensans/Semibold/OpenSans-Semibold.ttf') format('truetype'),
       url('../fonts/opensans/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */

/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('../fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'),
       url('../fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'),
       url('../fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/Bold/OpenSans-Bold.eot');
  src: url('../fonts/opensans/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/Bold/OpenSans-Bold.woff') format('woff'),
       url('../fonts/opensans/Bold/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/opensans/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('../fonts/opensans/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
       url('../fonts/opensans/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/opensans/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */

/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/ExtraBold/OpenSans-ExtraBold.eot');
  src: url('../fonts/opensans/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/ExtraBold/OpenSans-ExtraBold.woff') format('woff'),
       url('../fonts/opensans/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'),
       url('../fonts/opensans/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */

/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
  src: url('../fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
       url('../fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}