/* 
* --------------------------------------------------------------------------------------------------
* app_access/login
* --------------------------------------------------------------------------------------------------
*/
img#logo {
    max-width: 200px;
}

@media(min-width:768px) {
    .login-panel {
        margin-top: 30%;
    }
}

.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
}

/* 
* --------------------------------------------------------------------------------------------------
* app_user/profile
* --------------------------------------------------------------------------------------------------
*/
#user-profile-badges {
    line-height:30px;
}

.user-profile-actions {
    margin-top: 20px;
}

.user-profile-actions a {
    margin-bottom: 10px !important;
}

.user-profile-img {
    width: 140px;
    height: 140px;
    background-size: cover;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.user-profile-sidebar {
    width:150px;
    position:absolute;
}

.user-profile-main-content {
    margin-left:180px;
}


/* 
* --------------------------------------------------------------------------------------------------
* app_dashboard/index
* --------------------------------------------------------------------------------------------------
*/
@media(min-width:768px) {
    .login-panel {
        margin-top: 30%;
    }
}

.custom-panels .panel-heading i {
    font-size: 65px;
    margin-left: -20px;
}

.custom-panels h1 {
    font-size: 60px;
    margin: 0;
}

.custom-panels h4 {
    margin: 0;
}

#list-errors {
    display: none
}

#list-errors div.list-group {
    margin:10px 0 0;
    max-height: 250px;
    overflow-y: scroll;
}

#list-errors div.list-group-item div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-list .panel-body {
    padding: 0;
}

.panel-list .panel-body .list-group {
    margin: 0;
}

.panel-list .panel-body .list-group a.list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}