/*
 * --------------------------------------------------------------------------------------------------
 * Template Bootflat
 *
 * This is the default ACME Framework template. It is based on original Bootflat theme UI kit.
 * See more on http://bootflat.github.io
 *
 * This template file is organized by following sections:
 *
 *      #01: Elements
 *      #02: Forms & Buttons
 *      #03: Text & Links
 *      #04: General styles
 *      #05: Navbar & Menus
 *      #06: Tables
 *      #07: Plugins
 *      #08: Specific Devices overrides // tablets, mobile, desktop
 *
 * @since   04/25/2015
 * --------------------------------------------------------------------------------------------------
 */

/* ================= */
/* Section: Elements */
/* ================= */
body, html {
    font: 14px/1.4 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(241, 242, 246);
    color: #333;
}
h1, h2, h3, h4, h5, h6 { margin-top: 0; }
h6 { line-height: 20px; }
hr { border-top: 1px solid #ddd; }
p { line-height: 25px; }


/* ======================== */
/* Section: Forms & Buttons */
/* ======================== */
.modal-footer button,
.modal-footer input[type="submit"],
.modal-footer .btn { margin-left: 15px !important; }
.form-footer { border-top: 1px solid #ddd; padding-top: 30px; }
.form-footer button,
.form-footer input[type="submit"],
.form-footer .btn { margin-right: 15px; }
.form-control {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 38px;
}
.input-sm { height: 33px; }
.input-md { height: 38px; }
.input-lg { height: 48px; }
.form-group { margin-bottom: 30px; }
.btn { border-radius: 3px; font-weight: bold; }
.btn-primary, .btn-primary:active, .btn-primary:hover {
    -webkit-box-shadow: 0px 3px 0px 0px #2c93b9;
    -moz-box-shadow: 0px 3px 0px 0px #2c93b9;
    box-shadow: 0px 3px 0px 0px #2c93b9;
}
.btn-info, .btn-info:active, .btn-info:hover {
    -webkit-box-shadow: 0px 3px 0px 0px #16A085;
    -moz-box-shadow: 0px 3px 0px 0px #16A085;
    box-shadow: 0px 3px 0px 0px #16A085;
}
.btn-default, .btn-default:active, .btn-default:hover {
    border-bottom: 1px solid #ccd1d9 !important;
    -webkit-box-shadow: 0px 3px 0px 0px #ABB7B7;
    -moz-box-shadow: 0px 3px 0px 0px #ABB7B7;
    box-shadow: 0px 3px 0px 0px #ABB7B7;
}
.btn-default { border-bottom: 1px solid #fff !important; }
.btn-warning, .btn-warning:active, .btn-warning:hover {
    -webkit-box-shadow: 0px 3px 0px 0px #e0a21e;
    -moz-box-shadow: 0px 3px 0px 0px #e0a21e;
    box-shadow: 0px 3px 0px 0px #e0a21e;
}
.btn-danger, .btn-danger:active, .btn-danger:hover {
    -webkit-box-shadow: 0px 3px 0px 0px #ac333e;
    -moz-box-shadow: 0px 3px 0px 0px #ac333e;
    box-shadow: 0px 3px 0px 0px #ac333e;
}
.btn-normal, .btn-normal:active, .btn-normal:hover {
    -webkit-box-shadow: 0px 3px 0px 0px #989898;
    -moz-box-shadow: 0px 3px 0px 0px #989898;
    box-shadow: 0px 3px 0px 0px #989898;
}
.btn-success, .btn-success:active, .btn-success:hover {
    -webkit-box-shadow: 0px 3px 0px 0px #72a741;
    -moz-box-shadow: 0px 3px 0px 0px #72a741;
    box-shadow: 0px 3px 0px 0px #72a741;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.checkbox label, .radio label { padding-left: 20px; min-height: 10px !important; }
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    margin-top: 3px;
}
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-top: 2px;
}


/* ===================== */
/* Section: Text & Links */
/* ===================== */
.text-bold, .text-strong { font-weight: bold; }
.text-success { color: #8CC152; }
.text-muted { color: #999; }
.text-italic { font-style: italic; }


/* ======================= */
/* Section: General styles */
/* ======================= */
.padding-left-ten-px { padding-left: 10px; }
#wrapper { width: 100%; height: 100%; }
#page-wrapper { margin: 35px 0 0; min-height: 100% !important; }

.well { padding: 15px; }
.icon-invisible { visibility: hidden; }
.inline { display: inline-block !important; }
.top { vertical-align: top !important; }
.panel-heading { font-weight: bold; }
.panel, .list-group, .well { border-top: 1px solid #e8e8e8; }
.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }
.sidebar-search { padding: 15px; }
.arrow { float: right; }
.fa.arrow:before { content: "\f104"; }
.active > a > .fa.arrow:before { content: "\f107"; }
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active>span:hover {
    color: #fff;
    background-color: #3bafda;
    border-color: #3bafda;
}

.loading-layer {
    display: none;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity: .6;
    z-index: 10000 !important;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.loading-box {
    display: none;
    position: fixed;
    padding: 10px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    color: #fff;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -100px;
    background-color: #000;
    z-index: 10001 !important;
    opacity: 0%;
    width: 200px;
    cursor: default;
    box-shadow: 0px 0px 50px rgb(000,000,000);
    -moz-box-shadow:0 0 3px 50px #000;
    -webkit-box-shadow: 0 0px 50px #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-top: 4px;
}

.loading-box h4 { margin-top: 15px; }

.module-header {
    background-color: #fbfbfb;
    padding: 20px 30px 30px 30px;
    margin:  0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.module-header h1,
.module-header h2 { margin: 0; }
.module-header h1 small { color: #ddd; }
.module-header img { max-width: 64px }
.module-header .pull-right { margin-top: 5px; }
.module-header .btn-group { margin-top: 10px; }
.module-body { padding: 30px !important; margin: 0; }

.module-filter { text-align: right; margin-bottom: 30px; }
.module-filter .input-group-addon {
    width: auto;
    display: inline-block !important;
    padding-top: 10px;
    margin: -2px -7px 0;
}
.module-filter input[type="search"] {
    border-left: none !important;
    border-radius: 0px 3px 3px 0 !important;
}

.nav-pills > li > a,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover { font-weight: bold; }


/* ======================= */
/* Section: Navbar & Menus */
/* ======================= */
.navbar-fixed-top { padding: 0 30px !important; }
.container .navbar-brand { padding-left: 15px; }
.navbar-nav > li > a {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 35px;
}
.navbar-nav li a i { font-size: 18px; }
.navbar-collapse .navbar-nav,
.navbar-collapse .navbar-nav .dropdown-menu li a {
    font-weight: bold;
    font-size: 14px;
    line-height: 35px;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
}
.navbar-collapse .navbar-nav .dropdown-menu li a  * { font-weight: bold !important; }
.navbar-brand {
    min-height: 35px;
    height: 35px;
    padding: 0;
    margin: 0 30px 0 0;
    line-height: 35px;
    vertical-align: middle;
}
.navbar-brand img { margin-top: 6px; max-height: 20px; }
.navbar-brand a { color: #fff; }
.navbar { min-height: 35px; height : 35px; }
.navbar-fixed-top .navbar-collapse { margin: 0 -45px 0 -30px !important; }
.navbar-default { background-color: rgba(0, 0, 0, 0.79); }
.navbar-default .navbar-toggle {
    background-color: #000;
    border-color: transparent;
    margin: 4px 0px 0;
    border: none;
    padding: 6px 7px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000;
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 15px;
    height: 2px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #000;
}
.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-right {
    position: absolute;
    right: 30px;
    z-index: 1000;
}
.navbar-nav.navbar-right:last-child { margin-right: 30px; }
.navbar-right span.user-info {
    font-weight: bold;
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    position: relative;
    left:10px;
    top: 2px;
    margin-right:15px;
    line-height:14px;
}
.navbar-right img.user-photo {
    line-height: 35px;
    padding: 0;
    margin-top: 4px;
    vertical-align: top;
    max-width: 25px;
    border: 2px solid #fff;
}
.dropdown-user > li > a {
    font-weight: bold;
    line-height: 35px;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle
}
.dropdown-menu { background-color: rgba(0, 0, 0, 0.9); }
.dropdown-menu .divider { background-color: #444; }
.dropdown-menu li a { padding-left: 15px; font-weight: bold; }
.dropdown-menu > li > a { line-height: 35px; padding: 0 15px; }
.dropdown-menu > li > a:hover { background-color: #444; }
.navbar-nav > li > a > img { margin-top: -2px; max-width: 16px; }
.dropdown-menu li a img { margin-top: -2px; max-width: 16px; }

.dropdown-submenu { position:relative; }
.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-5px;
    margin-left:0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.dropdown-submenu .dropdown-menu { display: none !important; }
.dropdown-submenu:hover > .dropdown-menu { display: block !important; }
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-left-color: #fff;
    margin-top: 14px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after { border-left-color: #ffffff; }
.dropdown-submenu.pull-left { float: none; }
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-default { border-bottom: 0; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) }
.navbar-top-links li { display: inline-block; }
.navbar-top-links li:last-child { margin-right: 15px; }
.navbar-top-links li a { padding: 15px; min-height: 40px; }
.navbar-top-links .dropdown-menu li { display: block; }
.navbar-top-links .dropdown-menu li:last-child { margin-right: 0; }
.navbar-top-links .dropdown-menu li a { padding: 3px 20px; min-height: 0; }
.navbar-top-links .dropdown-menu li a div { white-space: normal; }
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts { width: 310px; min-width: 0; }
.navbar-top-links .dropdown-messages { margin-left: 5px; }
.navbar-top-links .dropdown-tasks { margin-left: -59px; }
.navbar-top-links .dropdown-alerts { margin-left: -123px; }
.navbar-top-links .dropdown-user { right: 0; left: auto; }

.nav-second-level li,
.nav-third-level li { border-bottom: none !important; }
.nav-second-level li a { padding-left: 37px; }
.nav-third-level li a { padding-left: 52px; }


/* =============== */
/* Section: Tables */
/* =============== */
.table-responsive .row { margin-left: 0; margin-right: 0;}
.table-responsive div[class^="col-"] { padding-left: 0; padding-right: 0;}
.table thead th { border-bottom-width: 2px !important; }
.table-bordered {
    border-width: 0px;
    border-collapse: separate;
}
.table-bordered td,
.table-bordered th {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    background-color: #fff !important;
    border-bottom: 1px solid #e8e8e8 !important;
    padding: 12px 15px !important;
}
.table-bordered th { border-top: 1px solid #e8e8e8 !important; }
.table-bordered th:first-child {
    -khtml-border-radius: 4px 0 0;
    -moz-border-radius: 4px 0 0;
    -ms-border-radius: 4px 0 0;
    -o-border-radius: 4px 0 0;
    -webkit-border-radius: 4px 0 0;
    border-radius: 4px 0 0;
    border-left: solid 1px #e8e8e8 !important;
}
.table-bordered th:last-child {
    -khtml-border-radius: 0 4px 0;
    -moz-border-radius: 0 4px 0;
    -ms-border-radius: 0 4px 0;
    -o-border-radius: 0 4px 0;
    -webkit-border-radius: 0 4px 0;
    border-radius: 0 4px 0;
    border-right: solid 1px #e8e8e8 !important;
}
.table-bordered td { border-top: none !important; }
.table-bordered td:first-child { border-left: solid 1px #e8e8e8 !important; }
.table-bordered td:last-child { border-right: solid 1px #e8e8e8 !important; }
.table-bordered tr:last-child td:first-child {
    -khtml-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    -ms-border-radius: 0 0 0 4px;
    -o-border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
.table-bordered tr:last-child td:last-child {
    -khtml-border-radius: 0 0 4px;
    -moz-border-radius: 0 0 4px;
    -ms-border-radius: 0 0 4px;
    -o-border-radius: 0 0 4px;
    -webkit-border-radius: 0 0 4px;
    border-radius: 0 0 4px;
}
.table-bordered tr:last-child td {
    webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,.1);
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,.1);
}


/* ================ */
/* Section: Plugins */
/* ================ */
/* Bootbox */
.bootbox .modal-body { padding: 15px 15px 0 15px; }
.bootbox .modal-footer { padding-top: 0; }
.bootbox .bootbox-close-button { margin-top: -2px !important; margin-right: 3px }

/* DataTables */
.dataTables_wrapper .table { margin: 30px 0 !important; }
.dataTable thead .sorting:after,
.dataTable thead .sorting_asc:after,
.dataTable thead .sorting_desc:after {
    opacity: 0.2 !important;
    content: "\f0dc" !important;
    float: left !important;
    display: inline !important;
    right: auto !important;
    margin-left: 7px !important;
    top: 12px !important;
    font-family: 'fontawesome' !important;
    color: #999;
}
.dataTable thead .sorting_asc:after { color: #000; content: "\f0de" !important; top: 15px !important; }
.dataTable thead .sorting_desc:after { color: #000; content: "\f0dd" !important; top: 9px !important; }
.dataTables_filter .input-group-addon.input-md {
    width: auto !important;
    float: left !important;
    margin: 0 -7px 0 0 !important;
    padding: 10px 12px !important;
}
.dataTables_filter input[type="search"] {
    border-left: none !important;
    border-radius: 0px 3px 3px 0 !important;
}
.dataTables_info { padding-top: 5px !important; margin: 0 0 10px 3px !important; }

/* Toggle checkbox */
.toggle {
    height: 24px;
    cursor: pointer;
}
.toggle .handle{
    width: 40px;
    height: 24px;
    background-color: #ed5565;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.toggle .handle:after,
.toggle .handle:before {
    width:22px;
    height:22px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.toggle input[type=checkbox]:disabled+.handle,
.toggle input[type=checkbox]:disabled+.handle:after,
.toggle input[type=checkbox]:disabled+.handle:before,
.toggle input[type=radio]:disabled+.handle,
.toggle input[type=radio]:disabled+.handle:after,
.toggle input[type=radio]:disabled+.handle:before {
    -webkit-box-shadow:inset 0 0 0 1px #b8bfc8;
    -moz-box-shadow:inset 0 0 0 1px #b8bfc8;
    box-shadow:inset 0 0 0 1px #b8bfc8;
    background-color:#e6e9ed;
    filter:alpha(opacity=60);
    opacity:.6
}
.toggle input[type=checkbox]:checked+.handle:before,
.toggle input[type=radio]:checked+.handle:before {
    width: 40px;
    background-color: #a0d468;
    -webkit-box-shadow: 0 0 0 1px #a0d468;
    -moz-box-shadow: 0 0 0 1px #a0d468;
    box-shadow: 0 0 0 1px #a0d468;
}
.toggle input[type=checkbox]:checked+.handle:after,
.toggle input[type=radio]:checked+.handle:after {
    left: 19px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

/* ValidationEngine Plugin */
.formError { z-index: 990; }
.formError .formErrorContent { z-index: 991; }
.formError .formErrorArrow { z-index: 996; }
.ui-dialog .formError { z-index: 5000; }
.ui-dialog .formError .formErrorContent { z-index: 5001; }
.ui-dialog .formError .formErrorArrow { z-index: 5006; }
.inputContainer {
    position: relative;
    float: left;
}
.formError {
    width: 200px !important;
    position: absolute;
    right: 0 !important;
    margin-left: -140px;
    margin-right:30px;
    margin-top: 5px !important;
    display: block;
    cursor: pointer;
    text-align: left;
}
.formError.inline {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}
.formError .formErrorContent {
    font: 14px/1.4 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    background: #e74c3c;
    border-color: #e74c3c;
    position: relative;
    color: #fff;
    padding: 3px 10px 4px 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: none;
    opacity: 1;
}
.formError.inline .formErrorContent {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}
.formError .formErrorArrow .line1,
.formError .formErrorArrow .line2,
.formError .formErrorArrow .line3,
.formError .formErrorArrow .line4,
.formError .formErrorArrow .line5,
.formError .formErrorArrow .line6,
.formError .formErrorArrow .line7,
.formError .formErrorArrow .line8,
.formError .formErrorArrow .line9,
.formError .formErrorArrow .line10 {
    width: 0;
    border: none;
}
.formError .formErrorArrow:after {
    width: 15px;
    margin: -8px 0 0;
    position: absolute;
    font-family: 'fontawesome';
    font-size: 25px;
    color: #e74c3c;
    content: "\f0de" !important;
    float: right;
    font-family: fontawesome;
    content: "\f0dd";
}
.formError .formErrorArrowBottom {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    margin: -8px 15px 0 0px;
    float:right;
}
.formError .formErrorArrow div {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}
.formError .formErrorArrowBottom div {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

/* MagicSuggest Plugin */
.ms-ctn-focus { box-shadow: none; }
.ms-ctn .ms-sel-ctn { margin-left: 0; padding-top: 1px; }
.ms-res-ctn.dropdown-menu { background-color: #fff; border: 1px solid #ccc; }
.ms-res-ctn .ms-res-item { padding: 5px 15px; }
.ms-res-ctn .ms-res-item em { color: inherit; font-weight: bold; background: transparent; }
.ms-ctn .ms-sel-item { margin-top: 2px; }

/* DataTables Plugin */
.dataTables_filter label { margin-bottom: 0 !important; }
.dataTable thead .sorting:after,
.dataTable thead .sorting_asc:after,
.dataTable thead .sorting_desc:after { opacity: 0.5 !important; }


/* =================================== */
/* Section: Specific Devices overrides */
/* =================================== */
@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 210px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Mobile landscape */
@media(max-width: 768px){

    #page-wrapper {
        position: inherit;
    }

    .navbar-fixed-top .container{
        padding-left: 0px !important;
    }

    .navbar-fixed-top .container .dropdown-user {
        margin-left: -155px;
        z-index: 1000;
        position: absolute !important;
    }

    .navbar-fixed-top .container .navbar-brand {
        padding-left: 0px !important;
        margin-left: 30px;
    }

    .navbar-fixed-top .container .navbar-collapse {
        margin: 0 -45px 0 -30px !important;
    }

    .navbar-fixed-top .container .navbar-collapse .navbar-nav li a {
        padding-left: 45px !important;
    }

    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .navbar-nav li a {
        padding-left: 30px
    }

    .navbar-nav li a:hover {
        background-color: #000 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-nav .open .dropdown-menu {
        padding-top: 0px !important;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 35px;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle
    }

    .dropdown-submenu > a:after {
        margin-right: 30px !important;
        margin-top: 12px !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .dropdown-header {
        color: #AAB2C1;
        padding-left: 30px
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .divider {
        background-color: #888;
    }

    .navbar-nav.navbar-right {
        position: absolute;
        top: 0;
        right: 105px;
        height: 35px;
        border: 0;
    }

    .navbar-nav.navbar-right:last-child {
        background-color: rgba(0, 0, 0, 0.7);
        margin-right: -15px !important;
        float: right;
        line-height: 35px;
    }

    .dropdown-user {
        background-color: rgba(0, 0, 0, 0.9) !important;
        margin-left: -150px;
    }

    .dropdown-user > li > a:hover {
        background-color: #444 !important;
    }

    .navbar-right span.user-info,
    .navbar-right .fa-caret-down {
        display: none !important;
    }

    .navbar-right a img {
        margin-left: -19px !important;
    }

    .navbar-right {
        background-color: transparent !important;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        background-color: #000  !important;
    }

    .navbar-nav.navbar-right > .open > a,
    .navbar-nav.navbar-right > .open > a:hover,
    .navbar-nav.navbar-right > .open > a:focus,
    .navbar-nav.navbar-right > li > a:hover,
    .navbar-nav.navbar-right > li > a:focus {
        background-color: transparent !important;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #444;
    }
}

/* Mobile portrait */
@media(max-width: 480px){

}

/* Tablet and large desktops */
@media(min-width: 768px) and (max-width: 991px) {

}

/* Large desktops */
@media(min-width: 1170px) {

}
